project_name:
checkpoint_path:

network:
  preprocess:
  model: MLP(out_features=1, num_cells=[256, 256, 256])
  postprocess:
  pretrained_weight:

data:
  db_path:
  eval_split: 0.05
  num_workers: 1
  batch_size: 2048

optimizer:
  type: Adam  # NOTE(shawn): don't change, unimplemented
  lr: 1.e-4
  clip_grad: 100

train:
  num_epochs: 10000
  save_interval: 100
  eval_interval: 100